##Doubt Clearing on 1st May 7:30 PM IST

Session 9: https://colab.research.google.com/drive/1yGBDQ8NMlVu-Mc1CiL3Je2_l19VOi1gU?usp=sharing


Session 8:https://colab.research.google.com/drive/1ccvssmlybxLwXbjbPAezG9hdADnmbOiQ?usp=sharing

Session 7: https://colab.research.google.com/drive/1CGgPhpzuVWjNrhbO9ERoPyB9gDRZyJ_n?usp=sharing


Doubt Clearning Class 2: https://colab.research.google.com/drive/1L2w9eb2eSIQMN6T_A6_65XLJW0-VB8CV?usp=sharing


Session 6: https://colab.research.google.com/drive/1rPLcVIynJpjNdIQMxnR2MVwvMkJWHTXm#scrollTo=mcXL74n6zLic

Session 5: https://colab.research.google.com/drive/1qoymmCAH2b6ZmF9d4REiBGrbpNkcdzKn#scrollTo=txxuqHLgecBG

Session 4: https://colab.research.google.com/drive/1tJGg47OBOZxiWJr_9rwXoyhW8gYGuz03

Session 3: https://colab.research.google.com/drive/1ufqrTCSs2Q1yHTQidclGJ82RzieA1N0w

Session 2: https://colab.research.google.com/drive/1CDJXo-VXyHZCa-mOaq0OP26O0DUckhHp

Session 1: https://colab.research.google.com/drive/1DkiPbviFal8uOXZ3u2x7esum4ZYWnKdB

# üß† Practice Problems ‚Äì Lists and Dictionaries

Today's practice focuses on:
- List methods (append, insert, remove, pop, sort, reverse)
- List operators (+, *, in, not in)
- Tuples basics
- Dictionary creation, access, update

---

## üü¢ List Practice Problems

---

### Q1. üìã Create a List of Favorite Movies
- Append 2 new movies
- Insert a movie at position 2
- Remove one movie by name

---

### Q2. ‚ûï Combine and Duplicate Lists
- Take two lists of fruits.
- Combine them using `+`.
- Duplicate the final list 2 times using `*`.
- Print the result.

---

### Q3. üîç Search in List
- Create a list of your friends' names.
- Check if `"Rohan"` is present in the list or not using `in`.

---

### Q4. üîÅ Reverse and Sort
- Create a list of numbers.
- Sort the list in ascending order.
- Then reverse it to descending order.

---

## üü° Tuple Practice Problems (Skip for now)

---

### Q5. üîí Create and Access Tuple
- Create a tuple with your 5 favorite foods.
- Print the second and fourth items using indexing.

---

### Q6. üö´ Try Changing a Tuple
- Try modifying an element in your tuple and observe the error.
- Write a comment explaining why it failed.

---

## üü† Dictionary Practice Problems

---

### Q7. üìñ Create a Student Dictionary
- Keys: `name`, `age`, `city`
- Add a new key `grade` with any value.

---

### Q8. üõ†Ô∏è Update Dictionary Values
- Update the `city` key to a new value.
- Add a new key `hobbies` as a list of 2 hobbies.

---

### Q9. üîë Print Keys and Values
- Given a dictionary of `product` with price and quantity:
```python
product = {"Name": "Pen", "Price": 20, "Quantity": 50}

In [ ]:
#Ques 1. Sol by Priyanka

movie_lst = ["Kalki","Dream Girl","Article 362"]
movie_lst.append("M S Dhoni")
movie_lst.append("The Mummy")
print(movie_lst)

['Kalki', 'Dream Girl', 'Article 362', 'M S Dhoni', 'The Mummy']

In [ ]:
movie_lst.insert(2,"Sher Shaha")
print(movie_lst)

['Kalki', 'Dream Girl', 'Sher Shaha', 'Article 362', 'M S Dhoni', 'The Mummy']

In [ ]:
movie_lst.remove("Kalki")
print(movie_lst)

['Dream Girl', 'Sher Shaha', 'Article 362', 'M S Dhoni', 'The Mummy']

In [ ]:
#Quest 2 Sol by Atul

fruits1=['mangoes','oranges','watermelon']
fruits2=['Papaya','Chikoo','Banana']
finalList=fruits1+fruits2
print(finalList)

['mangoes', 'oranges', 'watermelon', 'Papaya', 'Chikoo', 'Banana']

In [ ]:
finalList*2

['mangoes',
 'oranges',
 'watermelon',
 'Papaya',
 'Chikoo',
 'Banana',
 'mangoes',
 'oranges',
 'watermelon',
 'Papaya',
 'Chikoo',
 'Banana']

In [ ]:
([1,2,3]+[4,5,6])*2

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [ ]:
# Ques No. 3 Sol by Hardik

friends = ["Kiran", "Karthik", "Tushar", "Muskan","Rohan"]
if "Rohan" in friends:
  print("Rohan is in the list of friends.")
else:
  print("Rohan is not in the list of friends.")

Rohan is in the list of friends.

In [ ]:
# Ques 4 Sol by Atul
list_numbers=[3,4,1,0,55,5]
list_numbers.sort()
print(list_numbers)

[0, 1, 3, 4, 5, 55]

In [ ]:
list_numbers.sort(reverse=True)
list_numbers

[55, 5, 4, 3, 1, 0]

In [ ]:
#Ques no 6 Sol by Priyanka

student_dict = {"name":"Priyanka",
                "age":26,
                "city":"Pune"}
student_dict["grade"]="+A"
student_dict

{'name': 'Priyanka', 'age': 26, 'city': 'Pune', 'grade': '+A'}

In [ ]:
#Ques no 7 Sol by Rekha

In [ ]:
stu_dic={
    "name":"Pravin",
    "age":25,
    "city":"Kolkata",
}
stu_dic["grade"] = "A"
print(stu_dic)

{'names': 'Pravin', 'age': 25, 'city': 'Kolkata', 'grade': 'A'}

In [ ]:
def update_city_value(stu_dic,newCity):
  stu_dic["city"] = newCity
  return stu_dic

In [ ]:
newCity="pune"
st_dic = update_city_value(stu_dic,newCity)
print(st_dic)

{'names': 'Pravin', 'age': 25, 'city': 'pune', 'grade': 'A'}

In [ ]:
def add_new_key(st_dic,hobbies):
  st_dic["hobbies"] = hobbies
  return st_dic

In [ ]:
hobbies={
    "hobby1":"footbal",
    "hobby2":"reading"
}

In [ ]:
st_dic = add_new_key(st_dic,hobbies)
print(st_dic)

{'names': 'Pravin', 'age': 25, 'city': 'pune', 'grade': 'A', 'hobbies': {'hobby1': 'footbal', 'hobby2': 'reading'}}

In [ ]:
#Sol by Atul

student={ "name":"Arjun", "age":"32", "city":"Bangalore"}
student["grade"]="A"


student.update({"city":"Delhi","age":"33"})
student

{'name': 'Arjun', 'age': '33', 'city': 'Delhi', 'grade': 'A'}

In [ ]:
student.update({"hobbies": ["cricket","football"]})
student

{'name': 'Arjun',
 'age': '33',
 'city': 'Delhi',
 'grade': 'A',
 'hobbies': ['cricket', 'football']}

In [ ]:
#Sol 9 by Hardik

product = {"Name": "Pen", "Price": 20, "Quantity": 50}
print("Keys:", product.keys())
print("Values:", product.values())

Keys: dict_keys(['Name', 'Price', 'Quantity'])
Values: dict_values(['Pen', 20, 50])

In [ ]:
#Sol 9 by Vrushali

product = {"Name": "Pen", "Price": 20, "Quantity": 50}
for a,b in product.items():
    print(a,b)

In [ ]:
product = {"Name": "Pen",
           "Price": 20,
           "Quantity": 50}

for k,v in product.items():
  print("KEY:",k , "VALUE:",v)

KEY: Name VALUE: Pen
KEY: Price VALUE: 20
KEY: Quantity VALUE: 50

# üßæ Session 9: Tuples, Nested Dictionaries, Dictionary Methods, Practice
üìÖ Date: 27/04/2025

---

## ‚úÖ Topics Covered:

- Introduction to Tuples
- Nested Dictionaries
- Important Dictionary Methods
- Hands-on Practice Problems

# üì¶ Tuples in Python

‚úÖ Tuples are:
- Ordered
- Immutable (cannot be changed once created)
- Allow duplicate values
- Faster than lists

---

## üìã Creating Tuples:

```python
t1 = (1, 2, 3, 4)
t2 = ("apple", "banana", "cherry")
t3 = (5,)  # Single-element tuple (comma needed)


Tuples are useful for fixed data like coordinates, days of the week, etc.

In [ ]:
t1=(1,2,3)

In [ ]:
t2=[1,2,3]

In [ ]:
type(t1)

tuple

In [ ]:
type(t2)

list

In [ ]:
t2[2]=4
t2

[1, 2, 4]

In [ ]:
t1[2]=4
t1

TypeError: 'tuple' object does not support item assignment

In [ ]:
t1[3]=4

TypeError: 'tuple' object does not support item assignment

In [ ]:
t1=(1,2,3,4,5,1,2,2)

In [ ]:
t1.count(1)

2

In [ ]:
t1.count(2)

3

In [ ]:
t1.count(6)

0

In [ ]:
t1.index(3)

2

In [ ]:
print(t1)

(1, 2, 3, 4, 5, 1, 2, 2)

In [ ]:
#Ques 5

fav_foods=("Noodles","Pastries","Burger","Pizza","Sandwich")

In [ ]:
print(fav_foods[2])

Burger

In [ ]:
print(fav_foods[4])

Sandwich

In [ ]:
# Try modifying an element in your tuple and observe the error.
# Write a comment explaining why it failed.

fav_foods[2]="Brownie"

TypeError: 'tuple' object does not support item assignment

# üèõÔ∏è Nested Dictionaries

‚úÖ A dictionary inside another dictionary!

Useful to store **structured data** like:
- Student details
- Employee records
- Product catalogs

---

## üìã Example Structure:

```python
students = {
    "101": {"Name": "Alice", "Age": 20, "Grade": "A"},
    "102": {"Name": "Bob", "Age": 21, "Grade": "B"},
    "103": {"Name": "Charlie", "Age": 19, "Grade": "A"}
}

In [ ]:
students = {
    "101": {"Name": "Alice", "Age": 20, "Grade": "A"},
    "102": {"Name": "Bob", "Age": 21, "Grade": "B"},
    "103": {"Name": "Charlie", "Age": 19, "Grade": "A"}
}

In [ ]:
students["101"]['Name']

'Alice'

In [ ]:
students["103"]['Grade']

'A'

In [ ]:
students["101"]['Grade']="B"

In [ ]:
students["101"].update({"Grade":"C"})

In [ ]:
students

{'101': {'Name': 'Alice', 'Age': 20, 'Grade': 'C'},
 '102': {'Name': 'Bob', 'Age': 21, 'Grade': 'B'},
 '103': {'Name': 'Charlie', 'Age': 19, 'Grade': 'A'}}

In [ ]:
students.update({'101':{'Grade':'A'}})

In [ ]:
students

{'101': {'Grade': 'A'},
 '102': {'Name': 'Bob', 'Age': 21, 'Grade': 'B'},
 '103': {'Name': 'Charlie', 'Age': 19, 'Grade': 'A'}}

# üõ†Ô∏è Useful Dictionary Methods

| Method          | Description                          |
|-----------------|--------------------------------------|
| `dict.keys()`   | Returns a list of all keys            |
| `dict.values()` | Returns a list of all values          |
| `dict.items()`  | Returns a list of (key, value) pairs  |
| `dict.get(key)` | Returns value safely (None if missing) |
| `dict.pop(key)` | Removes a key-value pair              |
| `dict.update()` | Updates dictionary with another dict |

---

‚úÖ Examples:

```python
students.keys()
students.values()
students.items()
students.get("101")
students.pop("103")
students.update({"104": {"Name": "Divya", "Age": 22, "Grade": "B"}})

In [ ]:
students = {
    "101": {"Name": "Alice", "Age": 20, "Grade": "A"},
    "102": {"Name": "Bob", "Age": 21, "Grade": "B"},
    "103": {"Name": "Charlie", "Age": 19, "Grade": "A"}
}

In [ ]:
students.keys()

dict_keys(['101', '102', '103'])

In [ ]:
students.values()

dict_values([{'Name': 'Alice', 'Age': 20, 'Grade': 'A'}, {'Name': 'Bob', 'Age': 21, 'Grade': 'B'}, {'Name': 'Charlie', 'Age': 19, 'Grade': 'A'}])

In [ ]:
for k,v in students.items():
  if k=="101":
    #print (k,v)
    for field,value in v.items():
      print(field,value)

Name Alice
Age 20
Grade A

In [ ]:
students.get("101")

{'Name': 'Alice', 'Age': 20, 'Grade': 'A'}

In [ ]:
students["101"]

{'Name': 'Alice', 'Age': 20, 'Grade': 'A'}

In [ ]:
students

{'101': {'Name': 'Alice', 'Age': 20, 'Grade': 'A'},
 '102': {'Name': 'Bob', 'Age': 21, 'Grade': 'B'},
 '103': {'Name': 'Charlie', 'Age': 19, 'Grade': 'A'}}

In [ ]:
students.pop("101")

{'Name': 'Alice', 'Age': 20, 'Grade': 'A'}

In [ ]:
students

{'102': {'Name': 'Bob', 'Age': 21, 'Grade': 'B'},
 '103': {'Name': 'Charlie', 'Age': 19, 'Grade': 'A'}}

In [ ]:
students['102'].pop("Grade")

'B'

In [ ]:
students

{'102': {'Name': 'Bob', 'Age': 21},
 '103': {'Name': 'Charlie', 'Age': 19, 'Grade': 'A'}}

In [ ]:
students.get("103").get("Age")

19

In [ ]:
students["103"]['Age']

19

# üß† Practice Problems: Nested Dictionaries & Tuples

---

## Tuples
1. Create a tuple with 6 city names. Print the third and fifth cities.
2. Check if `"Mumbai"` is present in a tuple of cities.

---

## Nested Dictionaries
3. Create a dictionary for 3 students:
   - Each student has Name, Age, Subject
4. Print all students who have `"Math"` as subject.
5. Update the age of a student using their ID.
6. Add a new student into the dictionary.

---

## Bonus Challenge
7. Build a small employee database where:
   - Keys are Employee IDs
   - Values are dictionaries with name, department, salary
   - Print names of all employees whose salary > ‚Çπ60000

In [ ]:
employee_details = {
    "101": {"Name": "Alice", "Deparment": "Finance", "Salary": 120000},
    "102": {"Name": "Bob", "Deparment": "Tech", "Salary": 80000},
    "103": {"Name": "Charlie", "Deparment": "Operations", "Salary": 47000}
}

In [ ]:
#Tuples Ques 1 by Khushboo
cities_tuple=('mumbai',"delhi","bangalore",'lucknow','goa','varanasi')
print(cities_tuple[2],cities_tuple[4])

bangalore goa

In [ ]:
if "mumbai" in cities_tuple:
  print("Yes")

Yes

In [ ]:
for each in cities_tuple:
  if each=="mumbai":
    print("Yes")

Yes

In [ ]:
# Ques 3 By Satya

Students = {"001": {"Name" : "Alice" , "Age" : 20 , "Subject" : "Math"},
            "002": {"Name" : "Bob" , "Age" : 21 , "Subject" : "English"},
            "003": {"Name" : "Charlie" , "Age" : 22 , "Subject" : "Math"}}


for studentId,details in Students.items():
  if details["Subject"] == 'Math':
    print("Student:", details["Name"])

Student: Alice
Student: Charlie

In [ ]:
Students["002"]["Age"] = 22
Students

{'001': {'Name': 'Alice', 'Age': 20, 'Subject': 'Math'},
 '002': {'Name': 'Bob', 'Age': 22, 'Subject': 'English'},
 '003': {'Name': 'Charlie', 'Age': 22, 'Subject': 'Math'}}

In [ ]:
Students["004"] = {"Name": "Ashok", "Age": 18, "Subject": "Math"}

In [ ]:
Students

{'001': {'Name': 'Alice', 'Age': 20, 'Subject': 'Math'},
 '002': {'Name': 'Bob', 'Age': 22, 'Subject': 'English'},
 '003': {'Name': 'Charlie', 'Age': 22, 'Subject': 'Math'},
 '004': {'Name': 'Ashok', 'Age': 18, 'Subject': 'Math'}}

In [ ]:
Students={
    1:{
        "Name":"Vardha",
        "Age":29,
        "Subject":"Science"
    },
    2:{
        "Name":"Alisha",
        "Age":28,
        "Subject":"Math"
    },
    3:{
        "Name":"Pallavi",
        "Age":27,
        "Subject":"History"
    }
}

# To print all students with Subject Math

for student,details in Students.items():
  if details["Subject"]=="Math":
    print(student,":",details)

# To update age of a Student

Students[1]["Age"]=30
print(Students)

2 : {'Name': 'Alisha', 'Age': 28, 'Subject': 'Math'}
{1: {'Name': 'Vardha', 'Age': 30, 'Subject': 'Science'}, 2: {'Name': 'Alisha', 'Age': 28, 'Subject': 'Math'}, 3: {'Name': 'Pallavi', 'Age': 27, 'Subject': 'History'}}

In [ ]:
Students[1].update({"Age":25})
print(Students)

{1: {'Name': 'Vardha', 'Age': 25, 'Subject': 'Science'}, 2: {'Name': 'Alisha', 'Age': 28, 'Subject': 'Math'}, 3: {'Name': 'Pallavi', 'Age': 27, 'Subject': 'History'}}

In [ ]:
new_student={
    "Name":"Isha",
    "Age":26,
    "Subject":"Science"
}
Students[4]=new_student
print(Students)

{1: {'Name': 'Vardha', 'Age': 25, 'Subject': 'Science'}, 2: {'Name': 'Alisha', 'Age': 28, 'Subject': 'Math'}, 3: {'Name': 'Pallavi', 'Age': 27, 'Subject': 'History'}, 4: {'Name': 'Isha', 'Age': 26, 'Subject': 'Science'}}

In [ ]:
Students

{1: {'Name': 'Vardha', 'Age': 25, 'Subject': 'Science'},
 2: {'Name': 'Alisha', 'Age': 28, 'Subject': 'Math'},
 3: {'Name': 'Pallavi', 'Age': 27, 'Subject': 'History'},
 4: {'Name': 'Isha', 'Age': 26, 'Subject': 'Science'}}

In [ ]:
Students.keys()

dict_keys([1, 2, 3, 4])

In [ ]:
Students.get(1).get('Age')

32

In [ ]:
Students[1]['Age']=32

In [ ]:
Students

{1: {'Name': 'Vardha', 'Age': 32, 'Subject': 'Science'},
 2: {'Name': 'Alisha', 'Age': 28, 'Subject': 'Math'},
 3: {'Name': 'Pallavi', 'Age': 27, 'Subject': 'History'},
 4: {'Name': 'Isha', 'Age': 26, 'Subject': 'Science'}}

In [ ]:
Students.keys()

dict_keys([1, 2, 3, 4])

In [ ]:
Students[1]['Name'].lower()

'vardha'

In [ ]:
employee_details = {
    "E101": {"Name": "Alice", "Deparment": "Finance", "Salary": 120000},
    "E102": {"Name": "Bob", "Deparment": "Tech", "Salary": 80000},
    "E103": {"Name": "Charlie", "Deparment": "Operations", "Salary": 47000}
}

employee_details

{'E101': {'Name': 'Alice', 'Deparment': 'Finance', 'Salary': 120000},
 'E102': {'Name': 'Bob', 'Deparment': 'Tech', 'Salary': 80000},
 'E103': {'Name': 'Charlie', 'Deparment': 'Operations', 'Salary': 47000}}

In [ ]:
for employee_id,details in employee_details.items():
  if details['Salary']>60000:
    print(employee_id,details['Name'],details['Salary'])

101 Alice 120000
102 Bob 80000

In [ ]:
list_numbers=[1,2,3,4]

for num in list_numbers:


```
Session 7,"Lists: Creation, Indexing, Slicing, Modification",25/04/2025
Session 8,"List Methods & Operators, Tuples, Dictionaries",26/04/2025
Session 9,"Nested Dictionaries, Dictionary Methods, Practice",27/04/2025
```

In [ ]:

##List []
## Tuples ()
## Dictionary {"key":value}

In [ ]:
## Sets
a={1,2,3,4,1,2}
b={3,4,5,6,7,3}

In [ ]:
type(a)

set

In [ ]:
type(b)

set

In [ ]:
print(b)

{3, 4, 5, 6, 7}

In [ ]:
a.intersection(b)

{3, 4}

In [ ]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

# üìö What is a Set?

‚úÖ A **Set** is a built-in Python data structure that:
- Stores **unordered** and **unique** items.
- Is **mutable** (you can add or remove elements).
- Does **NOT allow duplicate elements**.

---

## üìã Why Use Sets?

- To store **unique items** only.
- For **fast membership tests** (`in`, `not in`).
- For **mathematical operations** like union, intersection, etc.

---

In [ ]:
a

{1, 2, 3, 4}

In [ ]:
a.add(5)

In [ ]:
a

{1, 2, 3, 4, 5}

In [ ]:
a.remove(5)

In [ ]:
a

{1, 2, 3, 4}

In [ ]:
a[0]

TypeError: 'set' object is not subscriptable

In [ ]:
a.update(b)

In [ ]:
a

{1, 2, 3, 4, 5, 6, 7}

# üî• Properties of Sets

| Property        | Details                                        |
|-----------------|------------------------------------------------|
| Unordered       | No guarantee of order                          |
| No duplicates   | Automatically removes repeated elements       |
| Mutable         | Can add or remove items                        |
| Heterogeneous   | Can store different types (int, str, float)    |

---

In [ ]:
a

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
b

{3, 4, 5, 6, 7}

In [ ]:
a.difference(b)

{1, 2}

In [ ]:
b.difference(a)

set()

In [ ]:
# let"s assume that we have 60 people in the batch, now we have the details

Name
Age
City

dictionary

In [ ]:
cities=['Delhi','Agra','Mumbai','Noida','Delhi','Mumbai','Bangalore','Gurgaon','Gurgaon','Delhi']

In [ ]:
unique_cities=list(set(cities))
unique_cities

['Noida', 'Mumbai', 'Gurgaon', 'Agra', 'Bangalore', 'Delhi']

In [ ]:
unique_cities=list(set(cities))
details={}
for city in unique_cities:
  count=cities.count(city)
  details[city]=count

In [ ]:
def Counter(list_of_values):
  unique_vals=list(set(list_of_values))
  details={}
  for val in unique_vals:
    count=list_of_values.count(val)
    details[val]=count

  return details

In [ ]:
Counter([1,2,3,4,5,32,32,3,42,2,1,2,3,2])

{32: 2, 1: 2, 2: 4, 3: 3, 4: 1, 5: 1, 42: 1}

In [ ]:
cities=['Delhi','Agra','Mumbai','Noida','Delhi','Mumbai','Bangalore','Gurgaon','Gurgaon','Delhi']

Counter(cities)

{'Noida': 1, 'Mumbai': 2, 'Gurgaon': 2, 'Agra': 1, 'Bangalore': 1, 'Delhi': 3}

In [ ]:
##PRACTICE

# üçΩÔ∏è Case Study Assignment: Build a Food Ordering and Billing System

---

## üß† Objective:

Design a **Food Ordering System** that allows users to place multiple food orders, calculate the final bill with tax (GST), and display a detailed receipt.

You will practice:
- Using **dictionaries** to store menu items and prices.
- Using **lists** to store multiple user orders.
- Working with **loops** and **conditions** to manage the flow.

---

## üõí Scenario:

Imagine you are developing a simple ordering system for a restaurant.  
Customers can view a menu, order multiple items, and receive a final bill with tax.

---

## üìã Menu to Offer:

Create a fixed menu with the following items:

| Item         | Price (‚Çπ) |
|--------------|-----------|
| Burger       | 120       |
| Pizza        | 250       |
| Pasta        | 180       |
| Coke         | 50        |
| Fries        | 90        |
| Momos        | 110       |
| Sandwich     | 140       |
| Ice Cream    | 100       |
| Coffee       | 80        |
| Brownie      | 150       |

---

## üóÇÔ∏è Data Structure Requirements:

- Use a **dictionary** to store the menu:
  - Keys = Item Names
  - Values = Prices
  
- Use a **list of dictionaries** to store orders:
  - Each order must contain:
    - Item Name
    - Quantity
    - Total Price for that item

---

## üîÑ Functional Requirements:

1. Display the menu to the user once at the beginning.
2. Start a loop to take multiple orders:
   - Ask the user for the item name.
   - Ask the user for quantity.
   - Check if the item exists in the menu.
     - If yes, calculate total price and save the order.
     - If not, display an error message.
   - Allow the user to type `'quit'` to finish ordering.
3. After quitting:
   - Calculate the **subtotal** of all orders.
   - Add **5% GST** on subtotal.
   - Display a full **bill summary** showing each item ordered, its quantity, and price.
   - Show subtotal, GST amount, and final total.

---

## üí∞ Billing Rules:

- **GST**: 5% on subtotal.
- **Optional Challenge**:
  - If subtotal exceeds ‚Çπ500, apply an **additional 10% discount** after adding GST.
  - Show discount separately in the bill.

---

## üìë Final Output Should Include:

- List of all items ordered with quantity and price.
- Subtotal before tax.
- GST amount.
- Final Total (with discount if applicable).
- Thank you message.

# üéØ Case Study: Manage Students and Courses using Sets and Dictionaries

---

## üß† Problem:

Build a system to manage students registered for different courses in a college.

You need to:

- Create a **Dictionary** where:
  - Keys = Course Names (e.g., "Python", "Data Science", "AI")
  - Values = **Sets** containing **Student Names** who enrolled.

‚úÖ Example Structure:

```python
{
  "Python": {"Atul", "Divya", "Riya"},
  "Data Science": {"Paul", "Riya", "Vivek"},
  "AI": {"Vivek", "Divyansh"}
}


## Tasks:

      Show the full list of courses and enrolled students.

      Allow the user to:

      Add a new student to a course.

      Remove a student from a course.

      Print:

      Students enrolled in both "Python" and "Data Science" (Intersection).

      Students enrolled in either "Python" or "AI" (Union).

      Students who are in "Python" but not in "AI" (Difference).

      Add a feature to check if two courses have completely different students (Disjoint check).

      Print the total number of students in each course.


---

### üî∑ **Colab Text Cell (Markdown)** ‚Äì Individual Topic Practice Problems

```markdown
# üß† Practice Problems ‚Äì Sets, Dictionaries, Nested Structures

---

## üü¢ Sets Basics

---

### Q1. Create a set of 7 favorite colors. Add 2 more colors. Remove 1 color.

### Q2. Take a list of numbers from user input. Remove all duplicate numbers and print the unique numbers using a set.

---

## üü° Set Operations

---

### Q3. Given two sets of cities visited by two friends, find:
- Cities both visited (Intersection)
- Cities either of them visited (Union)
- Cities visited by first friend but not by second (Difference)

---

## üü† Nested Dictionaries

---

### Q4. Create a nested dictionary for 3 employees with:
- ID
- Name
- Department
- Salary

Update salary of one employee using `.update()` method.

---

## üî¥ Sets + Lists + Dictionaries Combined

---

### Q5. Given a dictionary where keys are company names and values are **lists** of employees, write a program to:
- Convert each employee list into a **set**.
- Remove duplicate employees if present.
- Print unique employee names for each company.

‚úÖ Example:

Input:
```python
{
  "Google": ["Alice", "Bob", "Alice"],
  "Amazon": ["Charlie", "Bob"]
}