In [ ]:
def merge_sort(lst1,lst2):
    merged = lst1 + lst2
    merged.sort(reverse=True)
    return merged
print(merge_sort([1,6,4],[2,3,5]))

[6, 5, 4, 3, 2, 1]

In [5]:
def remove_common_element(lst1,lst2):
    for each in lst2:
        if each in lst1:
            lst1.remove(each)
    return lst1
print(remove_common_element([1,2,3,6,4],[2,3,5]))

[1, 6, 4]

In [ ]:
dict = {
    "Names": ["pri","sada","soni"],
    "Subject":["A","B","C"],
    "Age":[26,20,24]
}
for each in range():
    print(dict["Subject"])
    # if dict["Subject"] == "A":
    #     print(each)

['A', 'B', 'C']
['A', 'B', 'C']
['A', 'B', 'C']

In [13]:
dict_personal_details = {
    "Name": {"fname":"Priyanka","mname":"Anteshwar","lname":"Wadle"},
    "Age":26,
    "Address":{"line1":"row house","line2":"madlapur","postal_code":413517,"city":"udgir","country":"india"}
}
dict_personal_details

{'Name': {'fname': 'Priyanka', 'mname': 'Anteshwar', 'lname': 'Wadle'},
 'Age': 26,
 'Address': {'line1': 'row house',
  'line2': 'madlapur',
  'postal_code': 413517,
  'city': 'udgir',
  'country': 'india'}}

In [16]:
# Q1. ðŸ“‹ Create a List of Favorite Movies
# Append 2 new movies
# Insert a movie at position 2
# Remove one movie by name

movie_lst = ["Kalki","Dream Girl","Article 362"]

movie_lst.append("M S Dhoni")
movie_lst.append("The Mummy")

movie_lst.insert(2,"Sher Shaha")
movie_lst.remove("Kalki")
movie_lst

['Dream Girl', 'Sher Shaha', 'Article 362', 'M S Dhoni', 'The Mummy']

In [18]:
# Q2. âž• Combine and Duplicate Lists
# Take two lists of fruits.
# Combine them using +.
# Duplicate the final list 2 times using *.
# Print the result.
fruit_lst1 = ["mango","grapes","papaya"]
fruit_lst2 = ["pineapple","apple","blueberry"]

combine_lst = fruit_lst1 + fruit_lst2
combine_lst = combine_lst * 2
combine_lst

['mango',
 'grapes',
 'papaya',
 'pineapple',
 'apple',
 'blueberry',
 'mango',
 'grapes',
 'papaya',
 'pineapple',
 'apple',
 'blueberry']

In [21]:
# Q3. ðŸ” Search in List
# Create a list of your friends' names.
# Check if "Rohan" is present in the list or not using in.
friends_names = ["sonu","sada","shiv","megha","viru","Rohan"]
if "Rohan" in friends_names:
    print("Present")
else:
    print("Not Present")

Present

In [23]:
# Q4. ðŸ” Reverse and Sort
# Create a list of numbers.
# Sort the list in ascending order.
# Then reverse it to descending order.
num_lst = [1,33,22,66,44,77,99,88]
num_lst.sort()
num_lst.sort(reverse=True)
num_lst

[99, 88, 77, 66, 44, 33, 22, 1]

In [24]:
# Q7. ðŸ“– Create a Student Dictionary
# Keys: name, age, city
# Add a new key grade with any value.

student_dict = {
    "name":"Priyanka",
    "age":26,
    "city":"Pune"
}
student_dict["grade"]="+A"
student_dict

{'name': 'Priyanka', 'age': 26, 'city': 'Pune', 'grade': '+A'}

In [25]:
# Q8. ðŸ› ï¸ Update Dictionary Values
# Update the city key to a new value.
# Add a new key hobbies as a list of 2 hobbies.

student_dict["city"] = "Mumbai"
student_dict["hobbies"]=["Travelling","Cooking"]
student_dict

{'name': 'Priyanka',
 'age': 26,
 'city': 'Mumbai',
 'grade': '+A',
 'hobbies': ['Travelling', 'Cooking']}

In [ ]:
# Q9. ðŸ”‘ Print Keys and Values
# Given a dictionary of product with price and quantity:
product = {"Name": "Pen", "Price": 20, "Quantity": 50}
print(product.keys())
print(product.values())

dict_keys(['Name', 'Price', 'Quantity'])
dict_values(['Pen', 20, 50])

In [15]:
# Design a Food Ordering System that allows users to place multiple food orders, calculate the final bill with tax (GST), and display a detailed receipt.



def food_ordering_system():
    menu_dict = {
        "item":["Burger","Pizza","Pasta","Coke","Fries","Momos","Sandwich","Ice Cream","Coffee","Brownie"],
        "price":[120,250,180,50,90,110,140,100,80,150]
    }
    
    # while True:
    for each1 in menu_dict["item"],menu_dict["price"]:
            print(each1)

        # choice = ""


    return []

print(food_ordering_system())

['Burger', 'Pizza', 'Pasta', 'Coke', 'Fries', 'Momos', 'Sandwich', 'Ice Cream', 'Coffee', 'Brownie']
[120, 250, 180, 50, 90, 110, 140, 100, 80, 150]
[]

In [16]:
python --version

NameError: name 'python' is not defined